#pogrubienie_hordiichuk{
    font-size: 25px;
    color: #9657C9;
}

#pochylona_hordiichuk{
    font-size: 40pt;
    color: #FABB65;
}


#index_gorny_hordiichuk{
    font-size: 1.5cm;
    color: #AA8915;
}


#index_dolny_hordiichuk{
    font-size: 2.5cm;
    color: #46EDDD;
}


#mono_hordiichuk{
    font-size: 45px;
    color: #2AD965;
}


#powiekszenie_hordiichuk{
    font-size:large;
    color: #643997;
}


#pomniejszenie_hordiichuk{
    font-size: small;
    color: #C89D33;
}